<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/purchaseRequest.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="btns">
      <input type="number" placeholder="Amount:" />
      <button class="accept">Accept</button>
      <button class="reject">Reject</button>
      <button class="delete">Delete</button>
    </div>

    <div class="profile">
      <img
        src="https://nyc-files.nyc3.digitaloceanspaces.com/production-files/userProfiles/0ea59b3f-17c8-476a-8f96-87fa252a512d.png"
        alt=""
      />
      <div class="info">
        <h1>Fazliddin Mirzaqosimov</h1>
        <h2>fazliddinmirzaqosimov8@gmail.com</h2>
        <p>user</p>
      </div>
    </div>

    <h1 class="title">Purchase request</h1>
    <div class="purchase">
      <img
        src="https://nyc-files.nyc3.digitaloceanspaces.com/production-files/userProfiles/0ea59b3f-17c8-476a-8f96-87fa252a512d.png"
        alt=""
      />
      <div class="info">
        <h1>20:00</h1>
        <p>02.04.2024 Wednesday</p>
        <h2>Status: <span>new</span></h2>
      </div>
    </div>

    <h1 class="title">Latest purchase list</h1>
    <div class="history">
      <div class="request">
        <img
          src="https://nyc-files.nyc3.digitaloceanspaces.com/production-files/userProfiles/0ea59b3f-17c8-476a-8f96-87fa252a512d.png"
          alt=""
        />
        <p>new</p>
        <p>02.04.2024 20:04</p>
      </div>
      <div class="request">
        <img
          src="https://nyc-files.nyc3.digitaloceanspaces.com/production-files/userProfiles/0ea59b3f-17c8-476a-8f96-87fa252a512d.png"
          alt=""
        />
        <p>new</p>
        <p>02.04.2024 20:04</p>
      </div>
      <div class="request">
        <img
          src="https://nyc-files.nyc3.digitaloceanspaces.com/production-files/userProfiles/0ea59b3f-17c8-476a-8f96-87fa252a512d.png"
          alt=""
        />
        <p>new</p>
        <p>02.04.2024 20:04</p>
      </div>
    </div>

    <script src="./js/purchaseRequest.js"></script>
  </body>
</html>
